<!--SCREEN LOGIN BACKEND-->
<div class="content-trivia-game">
    <h3>Nueva pregunta</h3>
    <div class="trivia-body">
        <div class="trivia-clouds"></div>
        <div class="clearfix">
            <?php echo $this->form; ?>
        </div>
    </div>
    <h3>Preguntas</h3>
    <table class="leaderboard-table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="table-first-col" scope="col">ID</th>
                <th scope="col">Pregunta</th>
                <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->questions)) {
                foreach ($this->questions as $question) {
                    ?>
                    <tr>
                        <td><?php echo $question['id_question']; ?></td>
                        <td><?php echo $question['text']; ?></td>
                        <td><a href="action/deletequestion?id=<?php echo $question['id_question']; ?>">Borrar</a></td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
    <div class="paginator">
        <?php echo $this->paginator; ?>
    </div>
</div>
<!--/WRAPPER TRIVIA GAME-->