<!--SCREEN LEADERBOARD-->
<div class="wrapper-trivia-game">
    <div class="top-trivia-game"></div>
    <div class="content-trivia-game">
        <h3><?php echo $this->translator->translate('LeaderBoard ConnectMilles'); ?></h3>
        <table class="leaderboard-table" width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="table-first-col" scope="col">&nbsp;</th>
                    <th scope="col"><?php echo $this->translator->translate('Codigo del empleado'); ?></th>
                    <th scope="col"><?php echo $this->translator->translate('puntaje'); ?></th>
                </tr>
            </thead>
            <tbody>
                <?php
                $i = 1;
                foreach ($this->paginator as $renglon) {
                    ?>
                    <tr>
                        <td class="table-first-col first-place"><?php echo $i ?></td>
                        <td><?php echo $renglon['employee']; ?></td>
                        <td><?php echo $renglon['points']; ?></td>
                    </tr>
                    <?php
                    $i++;
                }
                ?>
            </tbody>
        </table>
        <div class="paginator">
            <?php echo $this->paginator; ?>
        </div>
    </div>
    <div class="bottom-trivia-game"></div>
</div>
<!--/WRAPPER TRIVIA GAME-->