<!--SCREEN RIGHT ANSWER-->
<div class="content-trivia-game">
    <h3><?php echo $this->translator->translate('Trivia de la semana'); ?></h3>
    <div class="trivia-body trivia-body-win">
        <div class="trivia-clouds"></div>
        <h3><?php echo $this->translator->translate('Participa, suma puntos y gana!'); ?></h3>
        <div class="pregunta-text">
            <h4><?php echo $this->translator->translate('Pregunta'); ?></h4>
            <p><?php echo $this->title; ?></p>
        </div>
        <div class="correct-graphic">
            <h4><?php echo $this->translator->translate('Correcto!'); ?></h4>
        </div>
        <div class="send-EmployeeID" >
            <label for="employeeID"><?php echo $this->translator->translate('Registra tu numero de empleado COPA Airlines para sumar puntos!');?></label>            
            <div class="registered-points"><?php echo $this->translator->translate("Puntos registrados con exito! Sigue participando!"); ?></div>
            <a href="#faq" target="_blank" class="btn-enviar btn-more-info-ffp"><span><?php echo $this->translator->translate('Otros Temas que debes saber sobre FFP'); ?></span></a>
        </div>
        <a href="leaderboard" class="btn-see-leaderboard"><?php echo $this->translator->translate('Ver leaderboard'); ?></a>
    </div>
</div>
<!--/WRAPPER TRIVIA GAME-->