    <!--
    See http://developer.yahoo.com/ypatterns/pattern.php?pattern=searchpagination
    -->
     <?php $allParams = Zend_Controller_Front::getInstance()->getRequest()->getParams();?>
    <?php if ($this->pageCount): ?>
    <div class="paginationControl">
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array_merge($allParams,array('page' => $this->previous))); ?>">
        &lt;
      </a> |
    <?php else: ?>
      <span class="disabled">&lt;</span> |
    <?php endif; ?>
     
    <!-- Numbered page links -->
    <?php foreach ($this->pagesInRange as $page): ?>
      <?php if ($page != $this->current): ?>
        <a href="<?php echo $this->url(array_merge($allParams,array('page' => $page))); ?>">
            <?php echo $page; ?>
        </a> |
      <?php else: ?>
        <?php echo $page; ?> |
      <?php endif; ?>
    <?php endforeach; ?>
     
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array_merge($allParams,array('page' => $this->next))); ?>">
        &gt;
      </a>
    <?php else: ?>
      <span class="disabled">&gt;</span>
    <?php endif; ?>
    </div>
    <?php endif; ?>