<!--SCREEN LOGIN BACKEND-->
<div class="content-trivia-game">
    <a href="logout">Salir</a>
    <?php
    if ($this->user['type'] == 0) {
    ?>
    <h3>Nueva entrevista</h3>
    <div class="trivia-body">
        <div class="trivia-clouds"></div>
        <div class="clearfix">
            <?php echo $this->form; ?>
        </div>
    </div>
    <?php
    }
    ?>

    <?php
    if ($this->user['type'] == 0) {
    ?>
    <h3>Nuevo analista</h3>
    <div class="trivia-body">
        <div class="trivia-clouds"></div>
        <div class="clearfix">
            <?php echo $this->form_anl; ?>
        </div>
    </div>
    <h3>Entrevistas</h3>
    <table class="leaderboard-table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="table-first-col" scope="col">ID</th>
                <th scope="col">Entrevista</th>
                <th scope="col">Borrar</th>
                <th scope="col">Preguntas</th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->interviews)) {
                foreach ($this->interviews as $interview) {
                    ?>
                    <tr>
                        <td><?php echo $interview['id_interview']; ?></td>
                        <td><?php echo $interview['title']; ?></td>
                        <td><a href="action/deleteinterview?id=<?php echo $interview['id_interview']; ?>">Borrar</a></td>
                        <td><a href="question?id=<?php echo $interview['id_interview']; ?>">Preguntas</a></td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
    
    <h3>Analistas</h3>
    <table class="leaderboard-table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="table-first-col" scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->users)) {
                foreach ($this->users as $user) {
                    ?>
                    <tr>
                        <td><?php echo $user['id_user']; ?></td>
                        <td><?php echo $user['username']; ?></td>
                        <td><a href="action/deleteuser?id=<?php echo $user['id_user']; ?>">Borrar</a></td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>

    <?php
    }
    ?>

    <h3>Revisiones pendientes</h3>
    <table class="leaderboard-table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="table-first-col" scope="col">ID</th>
                <th scope="col">Detalle</th>
                <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->pendings)) {
                foreach ($this->pendings as $pending) {
                    ?>
                    <tr>
                        <td><?php echo $pending['id_pending']; ?></td>
                        <td><a href="detail?id=<?php echo $pending['id_pending']; ?>">Ver</a></td>
                        <td><a href="action/deletepending?id=<?php echo $pending['id_pending']; ?>">Borrar</a></td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>

</div>
<!--/WRAPPER TRIVIA GAME-->