<div class="content-trivia-game">
    <h3>Iniciar sesión</h3>
    <div class="trivia-body">
        <div class="trivia-clouds"></div>
        <div class="clearfix">
            <?php echo $this->form; ?>
        </div>
    </div>
</div>