<div class="">
    <form enctype="application/x-www-form-urlencoded" action="" method="post">
    <?php
    foreach ($this->questions as $question) { ?>
        <div class="form-group">
            <label for="<?php echo $question['id_question'];?>"><?php echo $question['text'];?></label>
            <input type="text" name="<?php echo $question['id_question'];?>" class="form-control" required>
            <div class="error"></div>
        </div>
    <?php
    } ?>
    <input type="submit" value="Enviar" name="Enviar" class="btn-enviar"/>
</form>
</div>
