<!--SCREEN RIGHT ANSWER-->
<div class="content-trivia-game">
    <h3><?php echo $this->translator->translate('Trivia de la semana'); ?></h3>
    <div class="trivia-body trivia-body-win">
        <div class="trivia-clouds"></div>
        <h3><?php echo $this->translator->translate('Participa, suma puntos y gana!'); ?></h3>
        <div class="pregunta-text">
            <h4><?php echo $this->translator->translate('Pregunta'); ?></h4>
            <p><?php echo $this->title; ?></p>
        </div>
        <div class="correct-graphic">
            <h4><?php echo $this->translator->translate('Correcto!'); ?></h4>
        </div>
        <form class="send-EmployeeID" enctype="application/x-www-form-urlencoded" action="" method="post">
            <label for="employeeID"><?php echo $this->translator->translate('Registra tu numero de empleado COPA Airlines para sumar puntos!');?></label>
            <input type="text" name="employee" id="employee" value=""/>
            <input type="submit" name="Enviar" id="Enviar" value="<?php echo $this->translator->translate('Registrar Puntos!'); ?>" class="btn-enviar btn-enviar-EmployeeID"/>
        </form>
        <a href="leaderboard" class="btn-see-leaderboard"><?php echo $this->translator->translate('Ver leaderboard'); ?></a>
    </div>
</div>
<!--/WRAPPER TRIVIA GAME-->