<!--SCREEN BASE GAME-->
<div class="">
    <form enctype="application/x-www-form-urlencoded" action="" method="post">
        <dl class="zend_form">
        <fieldset>
            <legend>Datos personales</legend>
            <div class="form-group">
                <label for="applicant_name">Nombre</label>
                <input type="text" name="applicant_name" class="form-control" placeholder="Ingrese su nombre" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_lastname">Apellido</label>
                <input type="text" name="applicant_lastname" class="form-control" placeholder="Ingrese su apellido" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_identification">Cédula</label>
                <input type="text" name="applicant_identification" class="form-control" placeholder="Ingrese su Cédula" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_phone">Celular</label>
                <input type="text" name="applicant_phone" class="form-control" placeholder="Ingrese su Celular" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_email">Email</label>
                <input type="email" name="applicant_email" class="form-control" placeholder="Ingrese un email válido"  required>
                <div class="error"></div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Información Laboral</legend>
            <div class="form-group">
                <label for="applicant_last_job_name">Última empresa en la que trabajo</label>
                <input type="text" name="applicant_last_job_name" class="form-control" placeholder="Introduce su nombre">
            </div>
            <div class="form-group">
                <label for="applicant_last_job_charge">Cargo</label>
                <input type="text" name="applicant_last_job_charge" class="form-control" placeholder="Ingrese el cargo que desempeño" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_last_job_boss">Jefe inmediato</label>
                <input type="text" name="applicant_last_job_boss" class="form-control" placeholder="Ingrese el nombre de su jefe inmediato" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_last_job_phone">Telefono</label>
                <input type="text" name="applicant_last_job_phone" class="form-control" placeholder="Ingrese el telefono de la empresa" required>
                <div class="error"></div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Referencia Laboral</legend>
            <div class="form-group">
                <label for="applicant_work_reference_name">Nombre</label>
                <input type="text" name="applicant_work_reference_name" class="form-control" placeholder="Ingrese el nombre de su referencia laboral" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_work_reference_lasname">Apellido</label>
                <input type="text" name="applicant_work_reference_lasname" class="form-control" placeholder="Ingrese el apellido de su referencia laboral" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_work_reference_phone">Telefono</label>
                <input type="text" name="applicant_work_reference_phone" class="form-control" placeholder="Ingrese el telefono de su referencia laboral" required>
                <div class="error"></div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Referencia personal</legend>
            <div class="form-group">
                <label for="applicant_personal_reference_name">Nombre</label>
                <input type="text" name="applicant_personal_reference_name" class="form-control" placeholder="Ingrese el nombre de su referencia personal" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_personal_reference_lasname">Apellido</label>
                <input type="text" name="applicant_personal_reference_lasname" class="form-control" placeholder="Ingrese el apellido de su referencia personal" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_personal_reference_phone">Telefono</label>
                <input type="text" name="applicant_personal_reference_phone" class="form-control" placeholder="Ingrese el telefono de su referencia personal" required>
                <div class="error"></div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Educacion secundaria</legend>
            <div class="form-group">
                <label for="applicant_school_name">Nombre institucion</label>
                <input type="text" name="applicant_school_name" class="form-control" placeholder="Ingrese el nombre de la institucion" required>
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_school_title">titulo</label>
                <input type="text" name="applicant_school_title" class="form-control" placeholder="Ingrese el titulo que obtubo" required>
                <div class="error"></div>
            </div>
        </fieldset> 
        <fieldset>
            <legend>Educación universitaria</legend>
            <div class="form-group">
                <label for="applicant_university_name">Nombre instituciÓn</label>
                <input type="text" name="applicant_university_name" class="form-control" placeholder="Introduce su nombre">
                <div class="error"></div>
            </div>
            <div class="form-group">
                <label for="applicant_university_title">TÍtulo</label>
                <input type="text" name="applicant_university_title" class="form-control" placeholder="Introduce su nombre">
                <div class="error"></div>
            </div>
        
        <input type="submit" value="Enviar" name="Enviar" id="enviar"/>
    </form>
</div>
<!--/WRAPPER TRIVIA GAME-->
