<!--SCREEN BASE GAME-->
<div class="content-trivia-game">
    <h3><?php echo $this->translator->translate("Trivia de la semana"); ?></h3>
    <div class="trivia-body">
        <div class="trivia-clouds"></div>
        <h3><?php echo $this->translator->translate('Participa, suma puntos y gana!'); ?></h3>
        <div class="pregunta-text">
            <h4><?php echo $this->translator->translate('Pregunta'); ?></h4>
            <p><?php echo $this->title->text;?></p>
        </div>

        <form enctype="application/x-www-form-urlencoded" action="" method="post">
            <dl class="zend_form">
                <?php 
                    $i = 0;
                    foreach ($this->questions as $question) { ?>
                            <div class="wrapper-answer-option">
                                    <div class="bandera-top"></div>
                                    <input type="radio" name="response" id="response-<?php echo $i;?>" value="<?php echo $i;?>"/>
                                    <label for="response-<?php echo $i;?>" class="bandera-middle"><?php echo $question['text'];?></label>
                                    <div class="bandera-bottom"></div>
                            </div>
                    <?php 
                            $i++;
                    } ?>
            <input type="submit" value="<?php echo $this->translator->translate('Enviar Respuesta'); ?>" name="Enviar" class="btn-enviar"/>
        </form>
        <a href="leaderboard" class="btn-see-leaderboard"><?php echo $this->translator->translate('Ver leaderboard'); ?></a>
    </div>
</div>
<!--/WRAPPER TRIVIA GAME-->
