<!--SCREEN WRONG ANSWER-->
<div class="content-trivia-game">
    <h3><?php echo $this->translator->translate('Trivia de la semana'); ?></h3>
    <div class="trivia-body trivia-body-win">
        <div class="trivia-clouds"></div>
        <h3><?php echo $this->translator->translate('Participa, suma puntos y gana!'); ?></h3>
        <div class="pregunta-text">
            <h4><?php echo $this->translator->translate('Pregunta'); ?></h4>
            <p><?php echo $this->title; ?></p>
        </div>
        <div class="wrong-graphic">
            <h4><?php echo $this->translator->translate('Lo sentimos, la respuesta no es correcta'); ?></h4>
        </div>
        <div class="wrong-asnwer-form"> 
            <a target="_blank" href="<?php echo $this->moreLink; ?>" class="btn-link-wrong-asnwer"><span><?php echo $this->translator->translate('Puedes leer sobre este tema y volver a intentarlo haciendo click aqui'); ?></span></a> 
        </div>
        <a href="leaderboard" class="btn-see-leaderboard"><?php echo $this->translator->translate('Ver leaderboard'); ?></a>
    </div>
</div>
<!--/WRAPPER TRIVIA GAME-->