<!--SCREEN LOGIN BACKEND-->
<div class="content-trivia-game">
    <h3>Preguntas</h3>
    <table class="leaderboard-table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th scope="col">Entrevista</th>
                <th scope="col">Pregunta</th>
                <th scope="col">Respuesta</th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->questions)) {
                foreach ($this->questions as $question) {
                    ?>
                    <tr>
                        <td><?php echo $question['title']; ?></td>
                        <td><?php echo $question['question']; ?></td>
                        <td><?php echo $question['response']; ?></td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
    <h3>Usuarios</h3>
    <table class="leaderboard-table" width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="table-first-col" scope="col">usuario</th>
                <th scope="col">Asignar</th>
            </tr>
        </thead>
        <tbody>
            <?php
            if (count($this->users)) {
                foreach ($this->users as $user) {
                    ?>
                    <tr>
                        <td><?php echo $user['username']; ?></td>
                        <td><a href="action/assignuser?id=<?php echo $this->id; ?>&to=<?php echo $user['id_user']; ?>">Asignar</a></td>
                    </tr>
                    <?php
                }
            }
            ?>
        </tbody>
    </table>
    <a href="action/approve?id=<?php echo $this->id ?>">Aprobar</a>
    <a href="action/discard?id=<?php echo $this->id ?>">Descartar</a>
</div>
<!--/WRAPPER TRIVIA GAME-->